.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}
p {
  margin: 1rem 0rem;
  padding: 1rem 0rem;
}
hr {
  margin: 2rem;
}
.list {
  border: solid grey;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  border-radius: 1rem;
  display: inline;
  cursor: pointer;
}
.list1 {
  border: solid grey;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  border-radius: 1rem;
  list-style-type: none;
  align-content: center;
}
